{% extends '_layouts/_default.njk' %}
{% set pageTitle = '' %}
{% set pageDescription = '主にWeb制作を手がけるOne WhiteのWebサイト｜Webサイトのデザイン/マークアップ/更新・運用、ロゴデザイン、名刺デザインなどを行っています。' %}
{% set pagekeywords = '' %}
{% set pageUrl = 'https://www.one-white.net/' %}
{# {%
	set breadcrumbs = [
		{item: 'トップページ', href: '/'},
		{item: '会社概要', href: '/about/'},
		{item: '沿革', href: '/about/history/'}
	]
%} #}

{% block css -%}{% endblock %}
{% block contents -%}
{# {%- include '_partials/_breadcrumb.njk' %} #}
		<main>
			<section class="mv">
				<h1>
					<svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
						y="0px" viewBox="0 0 434.8 198.4" style="enable-background:new 0 0 434.8 198.4;" xml:space="preserve">
					<g>
						<path d="M5.1,141.7c-1.8,0-3.5-0.9-4.4-2.6c-1.3-2.4-0.5-5.5,2-6.9c0.7-0.4,1.5-0.6,2.2-0.6c2-0.1,48.9-4,110.4-127.2
							c0.3-0.6,0.6-1.1,0.8-1.7c1.2-2.5,4.3-3.5,6.8-2.3c2.5,1.2,3.5,4.3,2.3,6.8c-0.3,0.5-0.5,1.1-0.8,1.6
							c-19.1,38.4-38.4,88.2-24.7,110.4c5.1,8.3,14.7,12.3,29.2,12.3c22.3,0,40.6-4.7,55.3-11.4c-10.6-10.9-16.1-25.6-16.1-42.6
							c0-17.8,6.1-36.9,16.8-52.3C195.9,9.2,210.2,0,224,0C244.4,0,257,14,257,36.6c0,27.7-19,63.4-54.6,85.2c11.4,6.5,26.5,9.8,45.2,9.8
							c22.3,0,40.6-4.7,55.3-11.4c-10.6-10.9-16.1-25.6-16.1-42.6c0-17.8,6.1-36.9,16.8-52.3C314.7,9.2,329,0,342.8,0
							c20.4,0,33.1,14,33.1,36.6c0,27.7-19,63.4-54.6,85.2c11.4,6.5,26.5,9.8,45.2,9.8c20.6,0,41.5-7.3,60.3-21.2
							c2.2-1.7,5.4-1.2,7.1,1.1c1.7,2.2,1.2,5.4-1.1,7.1c-20.6,15.2-43.5,23.2-66.3,23.2c-23.2,0-41.7-4.8-55.2-14.3
							c-17.8,8.8-39.1,14.3-63.6,14.3c-23.2,0-41.7-4.8-55.2-14.3c-17.8,8.8-39.1,14.3-63.6,14.3c-18,0-30.7-5.8-37.8-17.1
							c-7.5-12.2-8.2-30.3-1.8-54.6c-15.4,22.7-30.8,40.5-46.3,53.1c-20.1,16.4-33.6,18.4-37.4,18.6C5.3,141.7,5.2,141.7,5.1,141.7z
							M224,10.1c-22.3,0-45.9,34.7-45.9,67.5c0,10.6,2.6,25.7,15,37.3c0.2,0.2,0.4,0.3,0.6,0.5c9.8-5.6,17.6-11.9,23.7-17.8
							c18.3-17.9,29.7-41.2,29.7-61C246.9,12.7,230.9,10.1,224,10.1z M342.8,10.1c-22.3,0-45.9,34.7-45.9,67.5c0,10.6,2.6,25.7,15,37.3
							c0.2,0.2,0.4,0.3,0.6,0.5c9.8-5.6,17.6-11.9,23.7-17.8c18.3-17.9,29.7-41.2,29.7-61C365.8,12.7,349.7,10.1,342.8,10.1z"/>
						<path d="M128.6,184.3c0-3.2,0.1-5.4,0.3-6.5c0.2-1.1,0.5-2,0.9-2.7c0.7-1.3,1.7-2.4,3.1-3.4c1.4-1,3.2-1.5,5.3-1.6
							c2.1,0,3.9,0.5,5.4,1.6c1.4,1,2.4,2.2,3.1,3.4c0.5,0.7,0.8,1.6,0.9,2.7c0.2,1.1,0.2,3.3,0.2,6.5c0,3.2-0.1,5.3-0.2,6.5
							c-0.2,1.1-0.5,2-0.9,2.7c-0.6,1.3-1.7,2.4-3.1,3.4c-1.4,1-3.2,1.6-5.4,1.6c-2.1-0.1-3.9-0.6-5.3-1.6c-1.4-1-2.5-2.1-3.1-3.4
							c-0.2-0.4-0.4-0.8-0.5-1.2c-0.1-0.4-0.3-0.9-0.4-1.5C128.7,189.6,128.6,187.4,128.6,184.3z M132.7,184.3c0,2.7,0.1,4.6,0.3,5.6
							c0.2,1,0.5,1.8,1.1,2.4c0.4,0.6,1,1,1.7,1.4c0.7,0.4,1.5,0.6,2.5,0.6c1,0,1.8-0.2,2.5-0.6c0.7-0.4,1.2-0.8,1.6-1.4
							c0.5-0.6,0.9-1.4,1.1-2.4c0.2-1,0.3-2.8,0.3-5.6c0-2.7-0.1-4.6-0.3-5.6c-0.2-0.9-0.6-1.7-1.1-2.3c-0.4-0.6-1-1.1-1.6-1.4
							c-0.7-0.4-1.6-0.6-2.5-0.6c-1,0-1.8,0.2-2.5,0.6c-0.7,0.4-1.3,0.9-1.7,1.4c-0.5,0.6-0.9,1.4-1.1,2.3
							C132.8,179.6,132.7,181.5,132.7,184.3z"/>
						<path d="M153.1,178.3h3.9v2.1h0.1c1.3-1.6,2.9-2.4,5-2.4c1.6,0,3,0.6,4.4,1.7c1.3,1.2,2,2.9,2.1,5.2v13.2h-3.9v-11.8
							c0-1.4-0.4-2.5-1.1-3.2c-0.7-0.7-1.6-1.1-2.7-1.1c-1.1,0-2,0.4-2.7,1.1c-0.7,0.7-1.1,1.8-1.1,3.2v11.8h-3.9V178.3z"/>
						<path d="M177.2,189.8c0,1.6,0.4,2.8,1.3,3.6c0.8,0.8,1.9,1.3,3.3,1.3c1.6,0,3-0.6,4.2-1.9l2.8,2.5c-2,2.2-4.3,3.2-6.9,3.2
							c-1,0-2-0.2-3-0.5c-0.5-0.2-1-0.4-1.4-0.7c-0.5-0.2-0.9-0.5-1.4-0.9c-0.8-0.7-1.5-1.8-2-3.1c-0.6-1.3-0.8-2.9-0.8-5
							c0-2,0.2-3.6,0.7-4.9c0.5-1.3,1.1-2.4,1.9-3.1c0.8-0.8,1.6-1.3,2.6-1.7c0.9-0.3,1.9-0.5,2.8-0.5c2.2,0,4.1,0.8,5.6,2.2
							c1.5,1.5,2.3,3.5,2.4,6.2v3.3H177.2z M185.4,186.5c0-1.6-0.5-2.7-1.2-3.5c-0.7-0.8-1.7-1.1-2.9-1.1c-1.2,0-2.1,0.4-2.9,1.1
							c-0.7,0.8-1.1,2-1.2,3.5H185.4z"/>
						<path d="M209.1,170.3h4.3l4.2,19.8h0.1l5.2-19.8h3l5.2,19.8h0.1l4.3-19.8h4.3l-6.7,27.9h-3.4l-5.1-20.1h-0.1l-5.2,20.1h-3.4
							L209.1,170.3z"/>
						<path d="M244.9,170.3h3.9v10.1h0.1c1.3-1.6,2.9-2.4,5-2.4c1.6,0,3,0.6,4.4,1.7c1.3,1.2,2,2.9,2.1,5.2v13.2h-3.9v-11.8
							c0-1.4-0.4-2.5-1.1-3.2c-0.7-0.7-1.6-1.1-2.7-1.1s-2,0.4-2.7,1.1c-0.7,0.7-1.1,1.8-1.1,3.2v11.8h-3.9V170.3z"/>
						<path d="M266.8,170.3h3.9v4h-3.9V170.3z M266.8,178.3h3.9v19.9h-3.9V178.3z"/>
						<path d="M278.7,172.3h3.9v6h2.8v3.1h-2.8V193c0,1,0.4,1.5,1.4,1.5h1.4v3.7h-2c-1.4,0-2.5-0.4-3.3-1.3c-0.9-0.8-1.3-2-1.3-3.6v-11.9
							h-1.9v-3.1h1.9V172.3z"/>
						<path d="M294.2,189.8c0,1.6,0.4,2.8,1.3,3.6c0.8,0.8,1.9,1.3,3.3,1.3c1.6,0,3-0.6,4.2-1.9l2.8,2.5c-2,2.2-4.3,3.2-6.9,3.2
							c-1,0-2-0.2-3-0.5c-0.5-0.2-1-0.4-1.4-0.7c-0.5-0.2-0.9-0.5-1.4-0.9c-0.8-0.7-1.5-1.8-2-3.1c-0.6-1.3-0.8-2.9-0.8-5
							c0-2,0.2-3.6,0.7-4.9c0.5-1.3,1.1-2.4,1.9-3.1c0.8-0.8,1.6-1.3,2.6-1.7c0.9-0.3,1.9-0.5,2.8-0.5c2.2,0,4.1,0.8,5.6,2.2
							c1.5,1.5,2.3,3.5,2.4,6.2v3.3H294.2z M302.3,186.5c0-1.6-0.5-2.7-1.2-3.5c-0.7-0.8-1.7-1.1-2.9-1.1s-2.1,0.4-2.9,1.1
							c-0.7,0.8-1.1,2-1.2,3.5H302.3z"/>
					</g>
					</svg>
				</h1>
			</section>

			<section class="sec about">
				<div class="sec-inner">
					<div class="sec-header">
						<h2>ABOUT</h2>
					</div>
					<div class="sec-body">
						<h3 class="h3-primary">やっていること（できること）</h3>
						<ul class="disc">
							<li>Webサイトのデザイン/マークアップ/更新・運用</li>
							<li>ロゴデザイン</li>
							<li>名刺デザイン</li>
						</ul>
						<p>...etc</p>

						<h3>One Whiteの由来</h3>
						<p>ある漫画の、特に好きな名言の中にあるキーワードの「百」が由来です。<br>
						その「百」を「一」と「白」に分解し、「One White」にしました。</p>

						<h3>ロゴの意図</h3>
						<p>キーワードである「百」のアラビア数字（100）をモチーフにしています。<br>
						また、私がデザインをする上で大事にしている「人を動かすデザイン」を意識し、人が動いているイメージをシンボル化しました。</p>
					</div>
				</div>
			</section>

			<section class="sec profile">
				<div class="sec-inner">
					<div class="sec-header">
						<h2>PROFILE</h2>
					</div>
					<div class="sec-body">
						<p class="name">廣方 浩史 <span>Koji Hirokata</span></p>
						<p>大阪在住のフリーランスのデザイナー。（2020.02〜）</p>

						<h3>スキル</h3>
						<div class="row">
							<div class="col-2">
								<ul class="disc">
									<li>Photoshop</li>
									<li>Illustrator</li>
									<li>Adobe XD</li>
								</ul>
							</div>

							<div class="col-7">
								<ul class="disc">
									<li>HTML5</li>
									<li>CSS3</li>
									<li>CMS（Wordpress、Movable Type） <br class="hidden__pc">※運用程度</li>
								</ul>
							</div>
						</div>
						<p>...etc</p>
					</div>
				</div>
			</section>

			<section class="sec about">
				<div class="sec-inner">
					<div class="sec-header">
						<h2>WORKS</h2>
					</div>
					<div class="sec-body">
						<p>ご希望の方は、ご連絡いただけましたら専用ページへのユーザー名とパスワードをお知らせいたします。</p>
					</div>
				</div>
			</section>

			<section class="sec contact">
				<div class="sec-inner">
					<div class="sec-header">
						<h2>CONTACT</h2>
					</div>
					<div class="sec-body">
						<dl>
							<dt class="fw-700">Mail</dt>
							<dd><a href="mailto:&#109;&#97;&#105;&#108;&#64;&#111;&#110;e-&#119;&#104;&#105;&#116;&#101;.&#110;&#101;&#116;" target="_blank">&#109;&#97;&#105;&#108;&#64;&#111;&#110;e-&#119;&#104;&#105;&#116;&#101;.&#110;&#101;&#116;</a></dd>
						</dl>
						<dl>
							<dt class="fw-700">Facebook</dt>
							<dd><a href="https://www.facebook.com/100onewhite" target="_blank">https://www.facebook.com/100onewhite</a></dd>
						</dl>
						<dl>
							<dt class="fw-700">Twitter</dt>
							<dd><a href="https://twitter.com/100onewhite" target="_blank">https://twitter.com/100onewhite</a></dd>
						</dl>
					</div>
				</div>
			</section>
		</main>

{%- endblock %}

{% block js -%}{% endblock %}