<!DOCTYPE HTML>
<html lang="ja">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159954018-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-159954018-1');
	</script>

	{%- include '_partials/_head.njk' -%}
	{% block css %}{% endblock -%}
</head>

<body class="{{ filename | join('-') }}">

<div class="container">
	{%- include '_partials/_header.njk' -%}

	{% block contents %}{% endblock %}

	{%- include '_partials/_footer.njk' -%}
</div>

<script src="/assets/js/bundle.js"></script>
{%- block js -%}{%- endblock -%}
</body>

</html>
