dl {

    dt {

    }

    dd {
        line-height: 1.8;
    }
}

ul {

    li {
        line-height: 1.8;
        margin-top: 8px;
    }
}

ul.disc {
    list-style-type: disc;
    padding-left: 2rem;

    li {
    }
}