.sec-body {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;

	@include mq(sp) {
		margin-top: 10px;
		padding-right: 15px;
		padding-left: 15px;
		width: auto;
	}

	h3 {
		font-weight: 700;
	}
}
