.sec-inner {
	max-width: $width-site;
	margin-right: auto;
	margin-left: auto;

	@include mq(sp) {
		margin-top: 40px;
		margin-right: 25px;
		margin-left: 25px;
	}

	&__wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
}
