h1, h2, h3, h4, h5, h6 {
    font-feature-settings : "palt";
}

h1 {
	
}

h2 {
	
}

h3 {
    margin-top: 40px;
    
    &.h3-primary {
        margin-top: 0;
    }

	@include mq(sp) {
        margin-top: 30px;
    }
}

h4 {
	
}

h5 {
	
}

h6 {
	
}


