

        <footer class="site-footer">
            <div class="site-footer__inner">
                <p><small>&copy;<script type="text/javascript">document.write(new Date().getFullYear())</script> One White.</small></p>
            </div>
        </footer>

