{%- if pageDescription -%}
{%- set description = pageDescription -%}{%- else -%}
{%- set description = data.meta.description -%}
{%- endif -%}
{%- if pageKeywords -%}
{%- set keywords = pageKeywords -%}{%- else -%}
{%- set keywords = data.meta.keywords -%}
{%- endif -%}
{%- if pageTitle -%}
{%- set title = pageTitle -%}{%- else -%}
{%- set title = sitename -%}
{%- endif -%}
{% set sitename = 'One White' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ pageTitle }}{{ sitename }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://www.one-white.net/assets/images/common/ogp.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ pageUrl }}">
    <meta property="og:locate" content="ja_JP">
    <meta property="og:site_name" content="{{ sitename }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@100_one_white">
    <title>{{ pageTitle }}{{ sitename }}</title>
    <link rel="canonical" href="https://www.one-white.net/">
    <link rel="shortcut icon" href="https://www.one-white.net/assets/images/common/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">