/*
/* Top
/*
----------------------------------------------------------------- */



/**
 * sec mv
**/

.mv {
	background-color: #fff9ee;
	height: 80vh;
	max-height: 800px;
	position: relative;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		-webkit-transform: translateY(-50%) translateX(-50%);
		text-align: center;
		width: 400px;

		@include mq(sp) {
			width: 275px;
		}
	}
}

/**
 * sec profile
**/
.profile {

	.sec {

		&-body {

			.name {
				font-size: 2.6rem;
				margin-bottom: 15px;

				@include mq(sp) {
					font-size: 2.2rem;
					margin-bottom: 10px;
				}

				span {
					font-size: 1.8rem;
					padding-left: 10px;

					@include mq(sp) {
						font-size: 1.4rem;
					}
				}
			}

			.row {

				@include mq(sp) {
					margin-left: 0;
					margin-right: 0;
				}

				> div {

					@include mq(sp) {
						padding: 0;
					}
				}
			}
		}
	}
}

/**
 * sec contact
**/
.contact {

	.sec {

		&-body {

			dl {

				@include mq(sp) {
					margin-top: 15px;
				}

				dt {
					display: inline-block;
					width: 120px;

					@include mq(sp) {
						display: block;
						font-weight: 700;
					}
				}
				dd {
					display: inline-block;

					@include mq(sp) {
						display: block;
					}
				}
			}
		}
	}
}