/*
/* Base
/*
----------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&subset=japanese');

html {
  font-size: 62.5%;
  background: #fff;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: $color-font;
  font-size: 1.6rem;
  letter-spacing: .06em;
  line-height: 2;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;

  @include mq(sp) {
    font-size: 1.4rem;
  }
}

img {
  @include mq(sp) {
    max-width: 100%;
    height: auto;
  }
}

a {
  color: $color-link;
}

a:link {
  // color: $color-blue;
}

a:visited {
  // color: $color-blue;
}

a:hover {
  text-decoration: none;
}

a:active {
}
