$ff-serif: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
$width-site: 1140px;
$display-site: 1200;
$breakpoints: (
	desktop: 1200px,
	tablet: 992px,
	sp: 768px
);

$line-height-basic: 1.9;

$color-assort: #c34447;
$color-link: #111111;
$color-font: #111111;

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #0095e9;
$color-red: #E90000;

$color-gray-border: #D5D5D5;
$color-gray-light: #f2f2f2;

$font-size-l4: 1.4rem * 8 / 4;
$font-size-l3: 1.4rem * 8 / 5;
$font-size-l2: 1.4rem * 8 / 6;
$font-size-l1: 1.4rem * 8 / 7;
$font-size-m:  1.4rem;
$font-size-s1: 1.4rem * 8 / 9;
$font-size-s2: 1.4rem * 8 / 10;
