.site-footer {
    background-color: $color-black;
    margin-top: 150px;

    @include mq(sp) {
        margin-top: 100px;
    }

    &__inner {
        padding: 10px 0;

        p {
            color: $color-white;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.4rem;
            text-align: center;
        }
    }
}